*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sofia',Arial, Helvetica, sans-serif;
}

:root{
    --jaune:#FDE68A;
    --noir:#000000;
    --blanc:#fff;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

body{
    background-color: #FDE68A;
    padding: 100px;

}

#titre{
    text-align: center;
    margin: 30px;
}

#search{
   text-align: center;
}

input{
    border-radius: 5px;
    border: 3px solid var(--noir);
    
}

button {
    padding: 10px 20px;
    background-color:var(--noir);
    color: var(--blanc);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

#text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#text div {
    background-color: white;
    margin: 10px;
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    text-align: center;
}

#text img {
    width: 100%;
}